.navbar-default.navbar{
    background-color: #36486b;
    border-radius: 0;
    border: 0;
    padding: 20px 0;
    margin-bottom: 0;
}

.navbar-default .navbar-brand{
    font-size: 25px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color:yellow;
}

.navbar-default .navbar-toogle .icon-bar {
    background-color: white;
}

.container .navbar-header .colore-bianco,
.navbar-collapse .navbar-right .colore-bianco {
    color: white;
}

.img-responsive{
    width: 250px;
}

.testa {
    background-color: #1bbc9b;
    color: white;
    margin-bottom: 0;
    padding: 100px;
}

.testa .h1, .testa h1 {
    font-weight: bold;
    font-size:62px;
}

.illustr{
    font-size: 23px;
}

.linea-stella-bianca{
    width: 300px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linea-stella-bianca::after,
.linea-stella-bianca::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    height: 4px;
    background-color: white;
}

.linea-stella-bianca::after{
    right: 0;
}

.linea-stella-bianca::before{
    left: 0;
}

.portfolio{
    font-size: 48px;
    color: #36486b;
    font-weight: bold;
}

.linea-stella-blu{
    width: 300px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    display: block;
}

.linea-stella-blu::after,
.linea-stella-blu::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    height: 4px;
    background-color: #36486b;
}

.linea-stella-blu::after{
    right: 0;
}

.linea-stella-blu::before{
    left: 0;
}

.stella-blu{
    display:block;
}
