.header{
    background-color: #36486b;
    height: 70px;
    width: 100%
}

.start-boot{
    color: white;
    font-size: 24px;
    display: block;
    text-align: center;
}

@media screen and ( max-width: 768px ) {
    .start-boot{
        font-size: 18px;
    }
}

@media screen and ( min-width :769px) {
    .port-ab-con{
    color: white;
    display: block;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    }
}

.sezione-immagine{
    background-color: #66CDAA;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 70px;

}

#avatar{
    width: 200px;
}

@media sreen ( min-width :769px ) {
    .sezione-immagine{
        height: 300px;
        padding-top: 100px;
    }
    #avatar{
        width: 160px;
    }
}

.start-centro{
    background-color: #66CDAA;
    color: white;
    font-size: 46px;
    text-align: center;
    width: 100%;
    height: 80px;
}

@media sreen ( min-width :769px ) {
    .start-centro{
        font-size:20px;
        height: 75px;
    }
}

.con-stella{
    background-color: #66CDAA;
    width: 100%;
    height: 100px;
}

.spazio-stellina{
    height: 50px;
    width: 15px;
}

.material-icons{
    float: left;
    padding-left: 11px;
    padding-right: 7px;
}

.crea-bordo-sinistra{
    height: 27px;
    width: 140px;
    float: left;
    border-bottom: 3px solid white;
}

.crea-bordo-destra{
    height: 27px;
    width: 140px;
    float: right;
    border-bottom: 3px solid white;
}
